{:paths ["src"]
 :cljd/opts {:kind :flutter :main pokeapr.main}
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/Tensegritics/ClojureDart.git"
         :sha "c68c42ae1b1eac9b8dade4d77cf6cbb21869f33a"}}
 :aliases
 {:cljd {:main-opts ["-m" "cljd.build"]}}}
